<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lite6">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import lite6 urdf file -->
    <xacro:include filename="$(find lite6_description)/urdf/lite6.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="lite6.ros2_control.xacro" />


    <xacro:lite6_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
